<section class="wellcome">
	//= header.html
</section>
<section class="advantages-section section" id="advantages">
	<div class="container">
		<div class="advantages-list row">
			<div class="advantages">
				<h2 class="advantages__title icon-time">Time Saver</h2>
				<p class="advantages__text"> Gathering you’ll unto. Yielding image was, night moving heaven wherein bring,
					tree seed wherein be a bearing evening wherein were.
				</p>
			</div>
			<div class="advantages">
				<h2 class="advantages__title icon-time">Time Saver</h2>
				<p class="advantages__text"> Gathering you’ll unto. Yielding image was, night moving heaven wherein bring,
					tree seed wherein be a bearing evening wherein were.
				</p>
			</div>
			<div class="advantages">
				<h2 class="advantages__title icon-time">Time Saver</h2>
				<p class="advantages__text"> Gathering you’ll unto. Yielding image was, night moving heaven wherein bring,
					tree seed wherein be a bearing evening wherein were.
				</p>
			</div>
		</div>
	</div>
</section>

